In [3]:
# Write a Python program to print expected output from the data given below.   
country = ["India", "Canada", "Sweden"] 
for c in country:
    print(c)

India
Canada
Sweden

In [4]:
# Write a Python program to print expected output from the data given below. 
string = "banana"
for s in string:
    print(s)

b
a
n
a
n
a

In [5]:
string = "banana"
print(string)

banana

In [24]:
# Write a Python program to print expected output using break statement from the data given below.
country = ["India", "Canada", "Sweden"]

for c in country:
    if c == "Sweden":
        break
    print(c)

India
Canada

In [25]:
#Write a Python program to print expected output using continue statement from the data given below.
   
country = ["India", "Canada", "Sweden"]
for c in country:
    if c == "Canada":
        continue
    print(c)

India
Sweden

In [26]:
# Write a Python program to print expected output using range in for loop.
for i in range(6):
    print(i)

0
1
2
3
4
5

In [29]:
#Write a Python program to print expected output by passing range parameters as (2, 6)
for i in range(2,6):
    print(i)

2
3
4
5

In [32]:
#Write a Python program to print expected output, range between 2 to 30 and increment the sequence by 3.
for i in range(2,30,3):

    print(i)

2
5
8
11
14
17
20
23
26
29

In [37]:
#Write a Python program to print all numbers from 0 to 5, and print a message when the loop has ended.
for i in range(6):
  print(i);
print("finally finished")

0
1
2
3
4
5
finally finished

In [40]:
#Write a Python program to print each adjective for every fruits using nested for loop from the data given below
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for adj in adjective:
    for fru in fruits:
        print(f"{adj} {fru}")

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [41]:
#Write a Python program print all elements of the list using for loop and range().
name = ['boss', 'sai', 'bala']
for n in name:
    print(n)

boss
sai
bala

In [45]:
name = ['boss', 'sai', 'bala']
for i in range(len(name)):
    print(name[i])

boss
sai
bala

In [47]:
name = ['boss', 'sai', 'bala']
for i in range(len(name)):
    print(name[i])

boss
sai
bala