In [1]:
#Write a Python program to convert a tuple into a List.
x = (1, 2, 3, 4, 5)
y = list(x)
print(x)
print(y)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

In [ ]:
Write a Python program to print the numbers of a specified list after removing even numbers from it.
        Data:
            x = [7, 8, 120, 25, 44, 20, 27]
        Expected Output:
            [7, 25, 27] '''

In [2]:
 x = [7, 8, 120, 25, 44, 20, 27]
result = [i for i in x if i % 2 != 0]
print(result)

[7, 25, 27]

In [ ]:
Write a Python program to convert and print the given list into a set.
    Data:
        x = [1,2,3,4]
    Expected Output:
        x = {1,2,3,4}

In [3]:
x = [1,2,3,4]
print(set(x))

{1, 2, 3, 4}

Write a Python program to find the length of a given set.
    Data:
        x = {4,5,6,7,9,2}
    Expected Output:
        6

In [5]:
x = {4,5,6,7,9,2}
print(len(x))

6

In [ ]:
Write a Python program to create a shallow copy of sets. 
    Data:
        a = ["Boss","Siva"]
    Expected Output:
        {"Boss","Siva"}

In [6]:
a = ["Boss","Siva"]
a.copy()
print(set(a))

{'Boss', 'Siva'}

In [ ]:
 Write a Python program to remove an element from the given set using discard().
    Data:
        x= {0,1,2,3,4,5}
    Expected Output:
        {0, 1, 2, 4, 5}

In [7]:
x= {0,1,2,3,4,5}
x.discard(3)
print(x)

{0, 1, 2, 4, 5}

In [ ]:
 Write a Python program to add elements to a given set.
    Data:
        {"Boss"}
    Expected Output:
        {"Boss", "Siva", "Suresh"}

In [8]:
a = {"Boss"}
b = {"Siva", "Suresh"}
a.update(b)
print(a)

{'Boss', 'Suresh', 'Siva'}

In [ ]:
6. Write a Python program to remove an element from the given set using pop().
    Data:
        x = {1,2,3,4,5,6}
    Expected Output:
        {1, 2, 3, 4}

In [14]:
x ={1,2,3,4,5,6}
x.pop()
x.pop()
print(x)

{3, 4, 5, 6}

In [ ]:
7. Write a Python program to print each elements of a given set using for loop.
    Data:
        x = {1, 2, 3, 4, 5}
    Expected Output:
        1
        2
        3
        4
        5

In [16]:
x = {1, 2, 3, 4, 5}
for i in x:
    print(i)

1
2
3
4
5

In [ ]:
8. Write a Python program to print the intersection of two given sets. 
   Data:
        x = {"boss", "karthi"}
        y = {"karthi", "siva"}
    Expected Output:
        {'karthi'}

In [18]:
x = {"boss", "karthi"}
y = {"karthi", "siva"}
print(x.intersection(y))

{'karthi'}

In [ ]:
9. Write a Python program to print the union of two given sets. 
    Data:
        x = {"boss", "karthi"}
        y = {"karthi", "siva"}
    Expected Output:
        {'boss', 'siva', 'karthi'}

In [19]:
x = {"boss", "karthi"}
y = {"karthi", "siva"}
print(x.union(y))

{'boss', 'siva', 'karthi'}

In [ ]:
10. Write a Python program to print the symmetric difference between two given sets. 
    Data:
        x = {"boss","karthi"}
        y = {"karthi","siva"}
    Expected Output:
        {'boss', 'siva'}

In [21]:
x = {"boss","karthi"}
y = {"karthi","siva"}
x1 = x.difference(y)
y1 = y.difference(x)
print(x1.union(y1))

{'boss', 'siva'}

In [ ]:
11. Write a Python program to clear a given set.
    Data:
        x ={"Kutta", "Puppy"}
    Expected Output:
        The set x has elements : {'Puppy', 'Kutta'}
        After clearing the set x : set()

In [22]:
x ={"Kutta", "Puppy"}
print("The set x has elements : ",x)
x.clear()
print("After clearing the set x :",x)

The set x has elements :  {'Puppy', 'Kutta'}
After clearing the set x : set()

In [ ]:
12. Write a Python program to print the maximum value from a given set. 
    Data:
        x = {23, 45, 12, 56, 87}
    Expected Output:
        87

In [24]:
x = {23, 45, 12, 56, 87}
print(max(x))

87

In [ ]:
13. Write a Python program to print the minimum value from a given set. 
    Data:
        x = {23, 56, 2, 3, 78, 6}
    Expected Output:
        2

In [25]:
x = {23, 56, 2, 3, 78, 6}
print(min(x))

2

In [ ]:
Write a Python program to remove the intersection of a 2nd set from the 1st set using difference_update().
    Data:
        x = {1, 2, 3, 4, 5}
        y = {4, 5, 6, 7, 8}
    Expected Output:
        {1, 2, 3}

In [26]:
x = {1, 2, 3, 4, 5}
y = {4, 5, 6, 7, 8}
x.difference_update(y)
print(x)

{1, 2, 3}

In [ ]:
15. Write a Python program to update the 1st set with the intersection elements from another set using intersection_update().
    Data:
        x = {"apple", "banana", "cherry"}
        y = {"google", "microsoft", "apple"}
    Expected Output:
        {"apple"}

In [27]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [ ]:
16. Write a Python program to zip two sets into a list.
    Data:
        {1, 2, 3},{"a", "b", "c"}
    Expected Output:
        [(1, 'c'),(2, 'b'),(3, 'a')]

In [30]:
Data={1, 2, 3}
Data1 ={"a", "b", "c"}
new_data = list(Data)
new_data1=sorted(Data1,reverse=True)
print(list(zip(new_data,new_data1)))

[(1, 'c'), (2, 'b'), (3, 'a')]

In [ ]:
Write a Python program to convert a list into a set.
    Data:
        x = [5,3,4,1,2]
    Expected Output:
        {1,2,3,4,5}

In [31]:
x = [5,3,4,1,2]
y=set(x)
y

{1, 2, 3, 4, 5}

In [ ]:
18. Write a python program to check if a set is a subset of another set using comparison operator. Return True if yes, False if not.
    Data:
        x = {"1", "2"}
        y = {"1", "2", "3"}
    Expected Output:
        True
        False

In [35]:
x = {"1", "2"}
y = {"1", "2", "3"}
print(x <= y)  
print(y <= x)

True
False

In [ ]:
 Write a python program to check if a set is a subset of another set using issubset(). Return True if yes, False if not.
    Data:
        x = {4, 5}
        y = {1, 2, 3, 4, 5}
    Expected Output:
        True
        False

In [36]:
x = {4, 5}
y = {1, 2, 3, 4, 5}
print(x.issubset(y))
print(y.issubset(x))

True
False