In [ ]:
Write a Python program to print convert a list into a tuple.
    Data:
        x = [1,2]
    Expected Output:
        x - [1, 2]
        <class 'list'>
        y - (1, 2)
        <class 'tuple'>

In [1]:
x = [1,2]
y = tuple(x)
print(y)

(1, 2)

In [4]:
print(type(y))

<class 'tuple'>

In [5]:
print(x)
print(type(x))

[1, 2]
<class 'list'>

In [ ]:
 Write a Python program to create a tuple with different data types.
    Data:
        x = ("tuples",3.2, 1)
    Expected Output:
        ('tuples', 3.2, 1)

In [6]:
x = ("tuples",3.2, 1)
print(x)

('tuples', 3.2, 1)

In [ ]:
Write a Python program to create a tuple with numbers and print the items one by one.
    Data:
        x = 5, 10, 15, 20, 25
    Expected Output:
        <class 'tuple'> 
        (5, 10, 15, 20, 25)
        5
        10
        15
        20
        25

In [8]:
x = 5, 10, 15, 20, 25
print(tuple(x))
print(type(x))

(5, 10, 15, 20, 25)
<class 'tuple'>

In [9]:
for i in x:
    print(i)

5
10
15
20
25

In [ ]:
 Write a Python program to convert a tuple of characters into a string.
    Data:
        x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
    Expected Output:
        volatility

In [11]:
x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
y = ''.join(x)
print(y)

volatality

In [ ]:
5. Write a Python program to convert a tuple into a list.
    Data:
        x=(1,2,3)
    Expected Output:
        (1, 2, 3)
        [1, 2, 3]

In [12]:
x=(1,2,3)
print(x)

(1, 2, 3)

In [13]:
print(list(x))

[1, 2, 3]

In [ ]:
Write a Python program to remove an element from a tuple.
    Data:
        x = ("a","b","c","d")
    Expected Output:
        ('a', 'b', 'd')

In [16]:
x = ("a","b","c","d")
y = x[:2] + x[3:]
print(y)

('a', 'b', 'd')

In [ ]:
Write a Python program to find the length of a tuple.
    Data:
        x = ("positions")
    Expected Output:
        ('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')
        9

In [18]:
x = ("positions")
print(tuple(x))
print(len(tuple(x)))

('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')
9

In [ ]:
8. Write a Python program to convert a tuple into a dictionary.
    Data:
        x = ((2, "w"),(3, "r"))
    Expected Output:
        {'w': 2, 'r': 3}

In [19]:
x = ((2, "w"),(3, "r"))
print(dict(x))

{2: 'w', 3: 'r'}

In [ ]:
9. Write a Python program to reverse the tuple elements.
    Data:
        x = ("Baskar")
        x = (5, 10, 15, 20)
    Expected Output:
        ('r', 'a', 'k', 's', 'a', 'B')
        (20, 15, 10, 5)

In [21]:
x1 = ("Baskar",)
x2 = (5, 10, 15, 20)
reversed_x1 = tuple(x1[0][::-1])  
reversed_x2 = x2[::-1]         
print(reversed_x1)  

print(reversed_x2)

('r', 'a', 'k', 's', 'a', 'B')
(20, 15, 10, 5)